/* set the global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Add your custom styles here */
#citySelectSearch {
    margin-top: 20px;
}

#citySearch {
    margin-bottom: 15px;
}

#forecastContainer {
    margin-top: 20px;
}

#selectedCityTodayForecast,
#selectedCity5DayForecast {
    margin-top: 20px;
    border: solid black;
}

#selectedCity5DayForecast .col-md-2 {
    background-color: navy;
    color: white;
    padding: 10px;
    margin: 5px;
    border: solid black;
}
